source https://www.myget.org/F/avalonia-ci/api/v2
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Ply 0.1.8
nuget Giraffe 5.0.0-alpha-001 alpha
nuget Microsoft.AspNetCore.Authentication.JwtBearer 3.1.0
nuget Thoth.Json.Giraffe 4.1.0
nuget BCrypt.Net-Next 3.2.1
nuget MongoDB.Bson 2.10.4
nuget MongoDB.Driver 2.10.4